# Further cleaning the datasets and creating a combined dataset

In [4]:
import pandas as pd

In [5]:
df1 = pd.read_csv('civilian dataset.csv')
df1.rename(columns={'Population 2017': 'Population'}, inplace=True)
df1.rename(columns={'Country code': "ISO"}, inplace=True)
df1.rename(columns={'Region': "Continent"}, inplace=True)
df1.head(10)

,Unnamed: 0,ISO,Country,Continent,Subregion,Population,Estimate of firearms in civilian possession,Estimate of Computation civilian firearms method per 100 persons,Method of computation,Registered firearms,Unregistered firearms
0,0,AFG,Afghanistan,Asia,Southern Asia,34169000.0,4270000,12.5,2.0,NaN,NaN
1,1,ALB,Albania,Europe,Southern Europe,2911000.0,350000,12.0,2.0,65747.0,284253.0
2,2,DZA,Algeria,Africa,Northern Africa,41064000.0,877000,2.1,2.0,200000.0,677000.0
3,3,ASM,American Samoa,Oceania,Polynesia,56000.0,400,0.7,2.0,250.0,150.0
4,4,AND,Andorra,Europe,Southern Europe,69000.0,10000,14.1,3.0,7599.0,2401.0
5,5,AGO,Angola,Africa,Middle Africa,26656000.0,2982000,11.2,2.0,NaN,NaN
6,6,ATG,Antigua and Barbuda,Americas,Caribbean,94000.0,5000,5.4,2.0,1449.0,3551.0
7,7,ARG,Argentina,Americas,South America,44272000.0,3256000,7.4,2.0,1562332.0,1693668.0
8,8,ARM,Armenia,Asia,Western Asia,3032000.0,186000,6.1,3.0,45822.0,140178.0
9,9,ABW,Aruba,Americas,Caribbean,105000.0,3000,2.6,3.0,NaN,NaN

In [6]:
df2 = pd.read_csv('law_enforcement dataset.csv')
df2.head(10)

,Unnamed: 0,ISO,Country,Continent,Subregion,Population,Active Personel,Total firearms,Computation method
0,6,AFG,Afghanistan,Asia,Southern Asia,34169000,159600,239000,2.0
1,9,ALB,Albania,Europe,Southern Europe,2911000,9743,19000,2.0
2,10,DZA,Algeria,Africa,Northern Africa,41064000,302178,363000,2.0
3,15,ASM,American Samoa,Oceania,Polynesia,56000,115,90,3.0
4,16,AND,Andorra,Europe,Southern Europe,69000,341,976,1.0
5,20,AGO,Angola,Africa,Middle Africa,26656000,49792,60000,3.0
6,23,ATG,Antigua and Barbuda,Americas,Caribbean,94000,600,800,2.0
7,24,ARG,Argentina,Americas,South America,44272000,348766,391000,2.0
8,28,ARM,Armenia,Asia,Western Asia,3032000,11814,18000,3.0
9,29,ABW,Aruba,Americas,Caribbean,105000,500,700,2.0

In [7]:
df3 = pd.read_csv('military dataset.csv')
df3.rename(columns={'Country Code': 'ISO'}, inplace=True)
df3.rename(columns={'Region': "Continent"}, inplace=True)
df3.head(10)

,Unnamed: 0,ISO,Country,Continent,Subregion,Population,Total military firearms,Computation method
0,0,ALB,Albania,Europe,Southern Europe,2911000,21750,2
1,1,DZA,Algeria,Africa,Northern Africa,41064000,637720,2
2,2,AGO,Angola,Africa,Middle Africa,26656000,203300,2
3,3,ATG,Antigua and Barbuda,Americas,Caribbean,94000,438,2
4,4,ARG,Argentina,Americas,South America,44272000,679770,2
5,5,ARM,Armenia,Asia,Western Asia,3032000,509240,2
6,6,AUS,Australia,Oceania,Australia/New Zealand,24642000,214520,2
7,7,AUT,Austria,Europe,Western Europe,8592000,240880,2
8,8,AZE,Azerbaijan,Asia,Western Asia,9974000,537920,2
9,9,Country,Country,Region,Subregion,Population,Total military,Computation method

In [8]:
# Delete some redundant rows from the dataframes
value_to_remove = "ISO"
df1 = df1[df1["ISO"] != value_to_remove]
df2 = df2[df2["ISO"] != value_to_remove]
df3 = df3[df3["ISO"] != value_to_remove]

value_to_remove1 = "Country"
df1 = df1[df1["ISO"] != value_to_remove1]
df2 = df2[df2["ISO"] != value_to_remove1]
df3 = df3[df3["ISO"] != value_to_remove1]

In [9]:
# With country name
set1 = set(df1['Country'])
set2 = set(df2['Country'])
set3 = set(df3['Country'])

if set1 == set2 == set3:
    print("All DFs have the same countries!!!!")
else: 
    missing_in_df2_and_df3 = set1 - set2 - set3
    missing_in_df1_and_df3 = set2 - set1 - set3
    missing_in_df1_and_df2 = set3 - set1 - set2

    diff_df1_df2 = set1.symmetric_difference(set2)
    diff_df1_df3 = set1.symmetric_difference(set3)
    diff_df2_df3 = set2.symmetric_difference(set3)

    all_countries = set1.union(set2, set3)

    missing_in_df1 = all_countries - set1
    missing_in_df2 = all_countries - set2
    missing_in_df3 = all_countries - set3

    print(f"Num missing df1 - {len(missing_in_df1)}: {missing_in_df1}")
    print(f"Num missing df2 - {len(missing_in_df2)}: {missing_in_df2}")
    print(f"Num missing df3 - {len(missing_in_df3)}: {missing_in_df3}")

Num missing df1 - 3: {'Somalia', 'United Kingdom', 'Puntland State of Somalia'}
Num missing df2 - 22: {'Colombia', 'Curaçao', 'Cuba', 'Croatia', 'Congo, Republic of', 'Ecuador', 'Costa Rica', "Côte d'Ivoire (Ivory Coast)", 'Comoros', 'Christmas Island', 'Denmark', 'Czech Republic', 'United Kingdom', 'China, Macao SAR', 'Djibouti', 'Cyprus, North', 'Dominica', 'Democratic Republic of Congo', 'Puntland', 'Cyprus, Rep. of', 'Dominican Republic', 'Somalia'}
Num missing df3 - 59: {'Guam', 'Curaçao', 'Northern Mariana Islands', 'Grenada', 'Puerto Rico', 'Hong Kong SAR, China', 'Tuvalu', 'Vietnam', 'Cayman Islands', 'Andorra', 'Aruba', 'Somalia (South Central)', 'Palau', 'Sint Maarten (Netherlands)', 'Virgin Islands (U.S.)', 'Montserrat', 'Saint Lucia', 'Marshall Islands', 'Monaco', 'Costa Rica', 'Solomon Islands', 'Tonga', 'San Marino', 'Afghanistan', 'Greenland', 'Saint Vincent and the Grenadines', 'Channel Islands', 'Papua New Guinea', 'Turks and Caicos Islands', 'Virgin Islands (U.K.)', 'Christmas Island', 'Bermuda', 'Liechtenstein', 'French Polynesia', 'Falkland Islands (Malvinas)', 'Scotland', 'American Samoa', 'Faroe Islands', 'Kiribati', 'Panama', 'Holy See', 'Northern Ireland', 'China, Macao SAR', 'Vanuatu', 'Saint Kitts and Nevis', 'Micronesia, Fed. Sts.', 'Cyprus, North', 'Saint Martin (France)', 'Samoa', 'Dominica', 'Nauru', 'New Caledonia', 'French Guiana', 'Puntland', 'Réunion', 'Guadeloupe', 'Gibraltar', 'Martinique', 'England and Wales'}

In [10]:
# With country code (ISO)
set1 = set(df1['ISO'])
set2 = set(df2['ISO'])
set3 = set(df3['ISO'])

if set1 == set2 == set3:
    print("All DFs have the same countries!!!!")
else: 
    missing_in_df2_and_df3 = set1 - set2 - set3
    missing_in_df1_and_df3 = set2 - set1 - set3
    missing_in_df1_and_df2 = set3 - set1 - set2

    diff_df1_df2 = set1.symmetric_difference(set2)
    diff_df1_df3 = set1.symmetric_difference(set3)
    diff_df2_df3 = set2.symmetric_difference(set3)

    all_countries = set1.union(set2, set3)

    missing_in_df1 = all_countries - set1
    missing_in_df2 = all_countries - set2
    missing_in_df3 = all_countries - set3

    print(f"Num missing df1 - {len(missing_in_df1)}: {missing_in_df1}")
    print(f"Num missing df2 - {len(missing_in_df2)}: {missing_in_df2}")
    print(f"Num missing df3 - {len(missing_in_df3)}: {missing_in_df3} \n")

    combined = list(missing_in_df1) + list(missing_in_df2) + list(missing_in_df3)
    combined = set(combined)

    print(f'Total mismatching ISO codes ({len(combined)}): {combined}')

Num missing df1 - 1: {'GBR'}
Num missing df2 - 20: {'CUW', 'CUB', 'CYP', 'DNK', 'DJI', 'HRV', 'DOM', 'NCY', 'CRI', 'CIV', 'COD', 'ECU', 'COG', 'COM', 'MAC', 'CZE', 'GBR', 'DMA', 'COL', 'CXR'}
Num missing df3 - 57: {'REU', 'CYM', 'MAF', 'LCA', 'GUF', 'VIR', 'CUW', 'HKG', 'SLB', 'LIE', 'WSM', 'AND', 'KNA', 'ENG', 'VGB', 'MHL', 'VCT', 'SCO', 'NCL', 'NCY', 'BMU', 'PYF', 'ABW', 'MSR', 'VUT', 'MCO', 'SXM', 'MNP', 'PRI', 'FRO', 'CRI', 'GIB', 'GLP', 'VNM', 'NIR', 'PAN', 'FSM', 'AFG', 'ASM', 'PLW', 'TUV', 'KIR', 'MAC', 'CIS', 'VAT', 'GRL', 'TCA', 'PNG', 'SMR', 'DMA', 'GUM', 'MTQ', 'FLK', 'NRU', 'TON', 'GRD', 'CXR'}

Total mismatching ISO codes (71): {'REU', 'CYM', 'MAF', 'LCA', 'GUF', 'VIR', 'CUW', 'CUB', 'TON', 'HKG', 'SLB', 'LIE', 'WSM', 'AND', 'CYP', 'KNA', 'DNK', 'DJI', 'HRV', 'ENG', 'VGB', 'MHL', 'DOM', 'VCT', 'SCO', 'NCL', 'NCY', 'BMU', 'ABW', 'MSR', 'VUT', 'MCO', 'SXM', 'MNP', 'PRI', 'FRO', 'CRI', 'CIV', 'GIB', 'COD', 'GLP', 'VNM', 'NIR', 'ECU', 'PAN', 'COG', 'FSM', 'AFG', 'ASM', 'PLW', 'TUV', 'NRU', 'KIR', 'COM', 'MAC', 'CIS', 'VAT', 'GRL', 'TCA', 'CZE', 'PNG', 'GBR', 'DMA', 'SMR', 'GUM', 'COL', 'MTQ', 'FLK', 'PYF', 'GRD', 'CXR'}

In [14]:
# Create a merged dataset with only the essential info
for df in [df1, df2, df3]:
    df["Population"] = pd.to_numeric(df["Population"], errors="coerce")

merged_df = pd.merge(df1, df2, on=["ISO", "Country", "Continent", "Subregion", "Population"], how="outer")
merged_df = pd.merge(merged_df, df3, on=["ISO", "Country", "Continent", "Subregion", "Population"], how="outer")

final_columns = [ "ISO", "Country", "Continent", "Subregion", "Population"]

merged_df = merged_df[final_columns]

# Mappings from df1 to merged_df
m1 = df1.set_index("ISO")["Estimate of firearms in civilian possession"]
merged_df["Estimate of firearms in civilian possession"] = merged_df["ISO"].map(m1)
m2 = df1.set_index("ISO")["Registered firearms"]
merged_df["Registered firearms"] = merged_df["ISO"].map(m2)
m3 = df1.set_index("ISO")["Unregistered firearms"]
merged_df["Unregistered firearms"] = merged_df["ISO"].map(m3)

# Mappings from df2 to merged_df
m4 = df2.set_index("ISO")["Total firearms"]
merged_df["Total firearms"] = merged_df["ISO"].map(m4)

# Mappings from df3 to merged_df
m5 = df3.set_index("ISO")["Total military firearms"]
merged_df["Total military firearms"] = merged_df["ISO"].map(m5)

merged_df.rename(columns={'Total firearms': 'Total law enforcement firearms'}, inplace=True)

merged_df.head(10)

,ISO,Country,Continent,Subregion,Population,Estimate of firearms in civilian possession,Registered firearms,Unregistered firearms,Total law enforcement firearms,Total military firearms
0,ABW,Aruba,Americas,Caribbean,105000.0,3000,NaN,NaN,700,NaN
1,AFG,Afghanistan,Asia,Southern Asia,34169000.0,4270000,NaN,NaN,239000,NaN
2,AGO,Angola,Africa,Middle Africa,26656000.0,2982000,NaN,NaN,60000,203300
3,ALB,Albania,Europe,Southern Europe,2911000.0,350000,65747.0,284253.0,19000,21750
4,AND,Andorra,Europe,Southern Europe,69000.0,10000,7599.0,2401.0,976,NaN
5,ARE,United Arab Emirates,Asia,Western Asia,9398000.0,1569000,NaN,NaN,41000,163800
6,ARG,Argentina,Americas,South America,44272000.0,3256000,1562332.0,1693668.0,391000,679770
7,ARM,Armenia,Asia,Western Asia,3032000.0,186000,45822.0,140178.0,18000,509240
8,ASM,American Samoa,Oceania,Polynesia,56000.0,400,250.0,150.0,90,NaN
9,ATG,Antigua and Barbuda,Americas,Caribbean,94000.0,5000,1449.0,3551.0,800,438

In [12]:
merged_df.to_csv("merged_dataset.csv", index=False)

In [17]:
print(df1.shape[0])
print(df2.shape[0])
print(df3.shape[0])

230
211
174