# Law Enforcement Data Cleaning

In [6]:
import pandas as pd
import numpy as np

### Re-assigning the first row as the list for column names

In [7]:
dataset = pd.read_excel("SAS-BP-Law-enforcement-firearms-annexe.xlsx")
dataset.columns=dataset.iloc[0]
dataset.head()

,ISO,Country,Continent,Subregion,Population,NaN,Category,Active,Law,Computation method,NaN
0,ISO,Country,Continent,Subregion,Population,NaN,Category,Active,Law,Computation method,NaN
1,NaN,NaN,NaN,NaN,2017,NaN,NaN,personnel,enforcement,"1=registered number,",NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,firearms,2=estimate based on law\nenforcement personnel...,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3=estimate based on general,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,population size,NaN

### Here the computation method gets dropped, together with category

Both attributes are irrelevant for the research we are conducting here

In [8]:
dataset = dataset.drop(["Category", "Computation method"], axis=1)
dataset

,ISO,Country,Continent,Subregion,Population,NaN,Active,Law,NaN
0,ISO,Country,Continent,Subregion,Population,NaN,Active,Law,NaN
1,NaN,NaN,NaN,NaN,2017,NaN,personnel,enforcement,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,firearms,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
426,VIR,Virgin Islands (U.S.),Americas,Caribbean,107000,NaN,221,300,3.0
427,YEM,Yemen,Asia,Western Asia,28120000,NaN,-,-,4.0
428,NaN,NaN,NaN,NaN,NaN,NaN,?\n?,NaN,NaN
429,ZMB,Zambia,Africa,Eastern Africa,17238000,NaN,13000,16000,2.0
430,ZWE,Zimbabwe,Africa,Eastern Africa,16338000,NaN,19500,23000,2.0

### Some colummns need to have their names changed due to conversion errors

In [9]:
dataset.columns=["ISO", "Country", "Continent", "Subregion", "Population", "Unnamed 1", "Active personel", "Law Enforcement Firearms", "Unnamed 2"]
dataset

,ISO,Country,Continent,Subregion,Population,Unnamed 1,Active personel,Law Enforcement Firearms,Unnamed 2
0,ISO,Country,Continent,Subregion,Population,NaN,Active,Law,NaN
1,NaN,NaN,NaN,NaN,2017,NaN,personnel,enforcement,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,firearms,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
426,VIR,Virgin Islands (U.S.),Americas,Caribbean,107000,NaN,221,300,3.0
427,YEM,Yemen,Asia,Western Asia,28120000,NaN,-,-,4.0
428,NaN,NaN,NaN,NaN,NaN,NaN,?\n?,NaN,NaN
429,ZMB,Zambia,Africa,Eastern Africa,17238000,NaN,13000,16000,2.0
430,ZWE,Zimbabwe,Africa,Eastern Africa,16338000,NaN,19500,23000,2.0

In [10]:
dataset = dataset.drop("Unnamed 1", axis=1)

In [ ]:
columns = list(dataset.columns)
columns[-2] = "Total firearms"  # "total" is supposed to be "Total Firearms"
columns[-3] = "Active Personel" # "active" is supposed to be "Active Personel"
dataset.columns=columns
dataset

,ISO,Country,Continent,Subregion,Population,Active Personel,Total firearms,Unnamed 2
0,ISO,Country,Continent,Subregion,Population,Active,Law,NaN
1,NaN,NaN,NaN,NaN,2017,personnel,enforcement,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,firearms,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
426,VIR,Virgin Islands (U.S.),Americas,Caribbean,107000,221,300,3.0
427,YEM,Yemen,Asia,Western Asia,28120000,-,-,4.0
428,NaN,NaN,NaN,NaN,NaN,?\n?,NaN,NaN
429,ZMB,Zambia,Africa,Eastern Africa,17238000,13000,16000,2.0
430,ZWE,Zimbabwe,Africa,Eastern Africa,16338000,19500,23000,2.0

### With finally the saving of the cleaned dataset

In [12]:
#dataset.to_csv("law_enforcement dataset.csv")