# Further cleaning the datasets and creating a combined dataset

New section added below

In [98]:
import pandas as pd

In [99]:
df1 = pd.read_csv('./separate_datasets/civilian dataset.csv')
df1.rename(columns={'Population 2017': 'Population'}, inplace=True)
df1.rename(columns={'Country code': "ISO"}, inplace=True)
df1.rename(columns={'Region': "Continent"}, inplace=True)
df1.head(10)

,Unnamed: 0,ISO,Country,Continent,Subregion,Population,Estimate of firearms in civilian possession,Estimate of Computation civilian firearms method per 100 persons,Method of computation,Registered firearms,Unregistered firearms
0,0,AFG,Afghanistan,Asia,Southern Asia,34169000.0,4270000,12.5,2.0,NaN,NaN
1,1,ALB,Albania,Europe,Southern Europe,2911000.0,350000,12.0,2.0,65747.0,284253.0
2,2,DZA,Algeria,Africa,Northern Africa,41064000.0,877000,2.1,2.0,200000.0,677000.0
3,3,ASM,American Samoa,Oceania,Polynesia,56000.0,400,0.7,2.0,250.0,150.0
4,4,AND,Andorra,Europe,Southern Europe,69000.0,10000,14.1,3.0,7599.0,2401.0
5,5,AGO,Angola,Africa,Middle Africa,26656000.0,2982000,11.2,2.0,NaN,NaN
6,6,ATG,Antigua and Barbuda,Americas,Caribbean,94000.0,5000,5.4,2.0,1449.0,3551.0
7,7,ARG,Argentina,Americas,South America,44272000.0,3256000,7.4,2.0,1562332.0,1693668.0
8,8,ARM,Armenia,Asia,Western Asia,3032000.0,186000,6.1,3.0,45822.0,140178.0
9,9,ABW,Aruba,Americas,Caribbean,105000.0,3000,2.6,3.0,NaN,NaN

In [100]:
df2 = pd.read_csv('./separate_datasets/law_enforcement dataset.csv')
df2.head(10)

,Unnamed: 0,ISO,Country,Continent,Subregion,Population,Active Personel,Total firearms,Computation method
0,6,AFG,Afghanistan,Asia,Southern Asia,34169000,159600,239000,2.0
1,9,ALB,Albania,Europe,Southern Europe,2911000,9743,19000,2.0
2,10,DZA,Algeria,Africa,Northern Africa,41064000,302178,363000,2.0
3,15,ASM,American Samoa,Oceania,Polynesia,56000,115,90,3.0
4,16,AND,Andorra,Europe,Southern Europe,69000,341,976,1.0
5,20,AGO,Angola,Africa,Middle Africa,26656000,49792,60000,3.0
6,23,ATG,Antigua and Barbuda,Americas,Caribbean,94000,600,800,2.0
7,24,ARG,Argentina,Americas,South America,44272000,348766,391000,2.0
8,28,ARM,Armenia,Asia,Western Asia,3032000,11814,18000,3.0
9,29,ABW,Aruba,Americas,Caribbean,105000,500,700,2.0

In [101]:
df3 = pd.read_csv('./separate_datasets/military dataset.csv')
df3.rename(columns={'Country Code': 'ISO'}, inplace=True)
df3.rename(columns={'Region': "Continent"}, inplace=True)
df3.head(10)

,Unnamed: 0,ISO,Country,Continent,Subregion,Population,Total military firearms,Computation method
0,0,ALB,Albania,Europe,Southern Europe,2911000,21750,2
1,1,DZA,Algeria,Africa,Northern Africa,41064000,637720,2
2,2,AGO,Angola,Africa,Middle Africa,26656000,203300,2
3,3,ATG,Antigua and Barbuda,Americas,Caribbean,94000,438,2
4,4,ARG,Argentina,Americas,South America,44272000,679770,2
5,5,ARM,Armenia,Asia,Western Asia,3032000,509240,2
6,6,AUS,Australia,Oceania,Australia/New Zealand,24642000,214520,2
7,7,AUT,Austria,Europe,Western Europe,8592000,240880,2
8,8,AZE,Azerbaijan,Asia,Western Asia,9974000,537920,2
9,9,Country,Country,Region,Subregion,Population,Total military,Computation method

In [102]:
# Delete some redundant rows from the dataframes
value_to_remove = "ISO"
df1 = df1[df1["ISO"] != value_to_remove]
df2 = df2[df2["ISO"] != value_to_remove]
df3 = df3[df3["ISO"] != value_to_remove]

value_to_remove1 = "Country"
df1 = df1[df1["ISO"] != value_to_remove1]
df2 = df2[df2["ISO"] != value_to_remove1]
df3 = df3[df3["ISO"] != value_to_remove1]

In [103]:
# With country name
set1 = set(df1['Country'])
set2 = set(df2['Country'])
set3 = set(df3['Country'])

if set1 == set2 == set3:
    print("All DFs have the same countries!!!!")
else: 
    missing_in_df2_and_df3 = set1 - set2 - set3
    missing_in_df1_and_df3 = set2 - set1 - set3
    missing_in_df1_and_df2 = set3 - set1 - set2

    diff_df1_df2 = set1.symmetric_difference(set2)
    diff_df1_df3 = set1.symmetric_difference(set3)
    diff_df2_df3 = set2.symmetric_difference(set3)

    all_countries = set1.union(set2, set3)

    missing_in_df1 = all_countries - set1
    missing_in_df2 = all_countries - set2
    missing_in_df3 = all_countries - set3

    print(f"Num missing df1 - {len(missing_in_df1)}: {missing_in_df1}")
    print(f"Num missing df2 - {len(missing_in_df2)}: {missing_in_df2}")
    print(f"Num missing df3 - {len(missing_in_df3)}: {missing_in_df3}")

Num missing df1 - 3: {'United Kingdom', 'Puntland State of Somalia', 'Somalia'}
Num missing df2 - 22: {'Curaçao', 'Ecuador', 'Democratic Republic of Congo', 'Costa Rica', "Côte d'Ivoire (Ivory Coast)", 'Dominica', 'Puntland', 'Cuba', 'Somalia', 'Denmark', 'Czech Republic', 'Djibouti', 'Croatia', 'Christmas Island', 'Congo, Republic of', 'Colombia', 'China, Macao SAR', 'Comoros', 'Cyprus, North', 'Cyprus, Rep. of', 'United Kingdom', 'Dominican Republic'}
Num missing df3 - 59: {'Curaçao', 'Montserrat', 'Northern Ireland', 'Grenada', 'Costa Rica', 'Dominica', 'Solomon Islands', 'Virgin Islands (U.S.)', 'Puntland', 'Channel Islands', 'Monaco', 'Afghanistan', 'Turks and Caicos Islands', 'Martinique', 'Saint Martin (France)', 'Virgin Islands (U.K.)', 'Scotland', 'Guadeloupe', 'Samoa', 'San Marino', 'Papua New Guinea', 'Saint Lucia', 'Somalia (South Central)', 'Greenland', 'Liechtenstein', 'Réunion', 'Faroe Islands', 'Kiribati', 'Saint Vincent and the Grenadines', 'American Samoa', 'Cayman Islands', 'Nauru', 'Andorra', 'Vietnam', 'New Caledonia', 'Marshall Islands', 'Holy See', 'Christmas Island', 'Saint Kitts and Nevis', 'Vanuatu', 'Tuvalu', 'England and Wales', 'Aruba', 'Gibraltar', 'Falkland Islands (Malvinas)', 'Panama', 'China, Macao SAR', 'Puerto Rico', 'Cyprus, North', 'Bermuda', 'Sint Maarten (Netherlands)', 'Tonga', 'Northern Mariana Islands', 'French Polynesia', 'Hong Kong SAR, China', 'Palau', 'Guam', 'Micronesia, Fed. Sts.', 'French Guiana'}

In [104]:
# With country code (ISO)
set1 = set(df1['ISO'])
set2 = set(df2['ISO'])
set3 = set(df3['ISO'])

if set1 == set2 == set3:
    print("All DFs have the same countries!!!!")
else: 
    missing_in_df2_and_df3 = set1 - set2 - set3
    missing_in_df1_and_df3 = set2 - set1 - set3
    missing_in_df1_and_df2 = set3 - set1 - set2

    diff_df1_df2 = set1.symmetric_difference(set2)
    diff_df1_df3 = set1.symmetric_difference(set3)
    diff_df2_df3 = set2.symmetric_difference(set3)

    all_countries = set1.union(set2, set3)

    missing_in_df1 = all_countries - set1
    missing_in_df2 = all_countries - set2
    missing_in_df3 = all_countries - set3

    print(f"Num missing df1 - {len(missing_in_df1)}: {missing_in_df1}")
    print(f"Num missing df2 - {len(missing_in_df2)}: {missing_in_df2}")
    print(f"Num missing df3 - {len(missing_in_df3)}: {missing_in_df3} \n")

    combined = list(missing_in_df1) + list(missing_in_df2) + list(missing_in_df3)
    combined = set(combined)

    print(f'Total mismatching ISO codes ({len(combined)}): {combined}')

Num missing df1 - 1: {'GBR'}
Num missing df2 - 20: {'CUB', 'CYP', 'CUW', 'DNK', 'CZE', 'COG', 'DOM', 'COM', 'COD', 'NCY', 'CIV', 'GBR', 'DJI', 'MAC', 'DMA', 'HRV', 'COL', 'CXR', 'ECU', 'CRI'}
Num missing df3 - 57: {'LIE', 'GIB', 'VNM', 'WSM', 'SCO', 'KNA', 'REU', 'SMR', 'VAT', 'CUW', 'NCL', 'MHL', 'TON', 'CYM', 'FRO', 'SXM', 'KIR', 'MAF', 'VUT', 'ASM', 'GRL', 'PYF', 'PRI', 'SLB', 'BMU', 'MSR', 'AFG', 'MNP', 'PLW', 'NCY', 'VCT', 'GRD', 'VGB', 'GLP', 'FLK', 'NRU', 'PNG', 'HKG', 'FSM', 'AND', 'PAN', 'TCA', 'GUM', 'TUV', 'NIR', 'MTQ', 'MAC', 'LCA', 'DMA', 'ENG', 'ABW', 'VIR', 'CXR', 'GUF', 'CRI', 'MCO', 'CIS'}

Total mismatching ISO codes (71): {'LIE', 'GIB', 'VNM', 'WSM', 'CUB', 'SCO', 'KNA', 'REU', 'CYP', 'SMR', 'VAT', 'CUW', 'NCL', 'GUF', 'DNK', 'MHL', 'TON', 'CYM', 'FRO', 'SXM', 'KIR', 'MAF', 'VUT', 'CZE', 'COG', 'ASM', 'GRL', 'DOM', 'PYF', 'PRI', 'SLB', 'BMU', 'MSR', 'AFG', 'MNP', 'PLW', 'COM', 'COD', 'NCY', 'VCT', 'GRD', 'VGB', 'CIV', 'GLP', 'GBR', 'FLK', 'NRU', 'PNG', 'HKG', 'FSM', 'AND', 'PAN', 'TCA', 'GUM', 'TUV', 'NIR', 'DJI', 'MAC', 'MTQ', 'DMA', 'LCA', 'ENG', 'HRV', 'COL', 'CXR', 'ABW', 'ECU', 'VIR', 'CRI', 'MCO', 'CIS'}

In [105]:
# Create a merged dataset with only the essential info
for df in [df1, df2, df3]:
    df["Population"] = pd.to_numeric(df["Population"], errors="coerce")

merged_df = pd.merge(df1, df2, on=["ISO", "Country", "Continent", "Subregion", "Population"], how="outer")
merged_df = pd.merge(merged_df, df3, on=["ISO", "Country", "Continent", "Subregion", "Population"], how="outer")

final_columns = [ "ISO", "Country", "Continent", "Subregion", "Population"]

merged_df = merged_df[final_columns]

# Mappings from df1 to merged_df
m1 = df1.set_index("ISO")["Estimate of firearms in civilian possession"]
merged_df["Estimate of firearms in civilian possession"] = merged_df["ISO"].map(m1)
m2 = df1.set_index("ISO")["Registered firearms"]
merged_df["Registered firearms"] = merged_df["ISO"].map(m2)
m3 = df1.set_index("ISO")["Unregistered firearms"]
merged_df["Unregistered firearms"] = merged_df["ISO"].map(m3)

# Mappings from df2 to merged_df
m4 = df2.set_index("ISO")["Total firearms"]
merged_df["Total firearms"] = merged_df["ISO"].map(m4)

# Mappings from df3 to merged_df
m5 = df3.set_index("ISO")["Total military firearms"]
merged_df["Total military firearms"] = merged_df["ISO"].map(m5)

merged_df.rename(columns={'Total firearms': 'Total law enforcement firearms'}, inplace=True)

merged_df.head(10)

,ISO,Country,Continent,Subregion,Population,Estimate of firearms in civilian possession,Registered firearms,Unregistered firearms,Total law enforcement firearms,Total military firearms
0,ABW,Aruba,Americas,Caribbean,105000.0,3000,NaN,NaN,700,NaN
1,AFG,Afghanistan,Asia,Southern Asia,34169000.0,4270000,NaN,NaN,239000,NaN
2,AGO,Angola,Africa,Middle Africa,26656000.0,2982000,NaN,NaN,60000,203300
3,ALB,Albania,Europe,Southern Europe,2911000.0,350000,65747.0,284253.0,19000,21750
4,AND,Andorra,Europe,Southern Europe,69000.0,10000,7599.0,2401.0,976,NaN
5,ARE,United Arab Emirates,Asia,Western Asia,9398000.0,1569000,NaN,NaN,41000,163800
6,ARG,Argentina,Americas,South America,44272000.0,3256000,1562332.0,1693668.0,391000,679770
7,ARM,Armenia,Asia,Western Asia,3032000.0,186000,45822.0,140178.0,18000,509240
8,ASM,American Samoa,Oceania,Polynesia,56000.0,400,250.0,150.0,90,NaN
9,ATG,Antigua and Barbuda,Americas,Caribbean,94000.0,5000,1449.0,3551.0,800,438

In [106]:
merged_df.to_csv("merged_dataset.csv", index=False)

# Adding GDP to merged dataset with homicide and calculating per capitas. Also adding violent & sexual crime numbers

In [107]:
df = pd.read_csv('merged_homicide_weapon_no_NULL.csv')
desired_order = ["ISO", "Country", "Continent", "Subregion", "Year", "Population", "Estimate of firearms in civilian possession", 
                 "Total law enforcement firearms", "Total military firearms", "Total Homicides"]
df = df[desired_order]

gdp = pd.read_excel('./separate_datasets/GDP.xlsx')
sexual_violent_df = pd.read_excel('../crime/data_cts_violent_and_sexual_crime.xlsx')

In [108]:
gdp.head(10)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.790850e+09,2.962907e+09,2.983635e+09,3.092429e+09,3.276184e+09,3.395799e+09,2.481857e+09,2.929447e+09,3.279344e+09,3.648573e+09
1,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,2.421063e+10,2.496398e+10,2.707880e+10,3.177575e+10,3.028579e+10,3.381317e+10,...,9.787080e+11,8.982780e+11,8.289430e+11,9.729990e+11,1.012310e+12,1.009720e+12,9.333920e+11,1.085750e+12,1.191420e+12,1.245470e+12
2,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.049713e+10,1.913422e+10,1.811657e+10,1.875346e+10,1.805322e+10,1.879944e+10,1.995593e+10,1.426000e+10,1.449724e+10,1.723305e+10
3,Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD,1.190495e+10,1.270788e+10,1.363076e+10,1.446909e+10,1.580376e+10,1.692109e+10,...,8.974160e+11,7.717670e+11,6.943610e+11,6.878490e+11,7.704950e+11,8.264840e+11,7.898020e+11,8.493120e+11,8.839740e+11,7.991060e+11
4,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.359670e+11,9.049642e+10,5.276162e+10,7.369015e+10,7.945069e+10,7.089796e+10,4.850156e+10,6.650513e+10,1.044000e+11,8.482465e+10
5,Albania,ALB,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.322815e+10,1.138685e+10,1.186120e+10,1.301973e+10,1.537951e+10,1.558511e+10,1.524146e+10,1.803201e+10,1.901724e+10,2.354718e+10
6,Andorra,AND,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.271686e+09,2.789881e+09,2.896610e+09,3.000162e+09,3.218420e+09,3.155149e+09,2.891001e+09,3.324648e+09,3.380613e+09,3.785067e+09
7,Arab World,ARB,GDP (current US$),NY.GDP.MKTP.CD,NaN,1.999708e+10,2.032767e+10,2.236296e+10,2.481163e+10,2.676929e+10,...,2.905650e+12,2.544700e+12,2.500820e+12,2.572200e+12,2.867350e+12,2.899030e+12,2.562780e+12,2.969240e+12,3.609810e+12,3.512420e+12
8,United Arab Emirates,ARE,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.141050e+11,3.702750e+11,3.692550e+11,3.905170e+11,4.270490e+11,4.179900e+11,3.494730e+11,4.151790e+11,5.027320e+11,5.141300e+11
9,Argentina,ARG,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,2.445060e+10,1.827212e+10,2.560525e+10,2.834471e+10,...,5.263200e+11,5.947490e+11,5.575320e+11,6.436280e+11,5.248200e+11,4.477550e+11,3.857410e+11,4.865640e+11,6.327900e+11,6.460750e+11

In [109]:
mapping1 = gdp.set_index("Country Code")[2018]
df["Country GDP"] = df["ISO"].map(mapping1)

df.head(10)

,ISO,Country,Continent,Subregion,Year,Population,Estimate of firearms in civilian possession,Total law enforcement firearms,Total military firearms,Total Homicides,Country GDP
0,ALB,Albania,Europe,Southern Europe,2018,2911000.0,350000,19000,21750.0,6248,1.537951e+10
1,DZA,Algeria,Africa,Northern Africa,2018,41064000.0,877000,363000,637720.0,9855,1.945540e+11
2,ATG,Antigua and Barbuda,Americas,Latin America and the Caribbean,2018,94000.0,5000,800,438.0,534,1.661530e+09
3,ARG,Argentina,Americas,Latin America and the Caribbean,2018,44272000.0,3256000,391000,679770.0,119890,5.248200e+11
4,ARM,Armenia,Asia,Western Asia,2018,3032000.0,186000,18000,509240.0,1237,1.245794e+10
5,AUS,Australia,Oceania,Australia and New Zealand,2018,24642000.0,3573000,69000,214520.0,10072,1.427810e+12
6,AUT,Austria,Europe,Western Europe,2018,8592000.0,2577000,37900,240880.0,4714,4.525820e+11
7,AZE,Azerbaijan,Asia,Western Asia,2018,9974000.0,362000,18000,537920.0,9276,4.711247e+10
8,BHS,Bahamas,Americas,Latin America and the Caribbean,2018,397000.0,74000,5000,2470.0,6298,1.261580e+10
9,BHR,Bahrain,Asia,Western Asia,2018,1419000.0,181000,20000,25796.0,22,3.956798e+10

In [110]:
columns_to_convert = [
    "Estimate of firearms in civilian possession",
    "Total law enforcement firearms",
    "Total military firearms",
    "Total Homicides",
    "Country GDP",
]

for column in columns_to_convert:
    df[f"{column} per 1,000"] = (df[column] / df["Population"]) * 1000

df.head(10)

,ISO,Country,Continent,Subregion,Year,Population,Estimate of firearms in civilian possession,Total law enforcement firearms,Total military firearms,Total Homicides,Country GDP,"Estimate of firearms in civilian possession per 1,000","Total law enforcement firearms per 1,000","Total military firearms per 1,000","Total Homicides per 1,000","Country GDP per 1,000"
0,ALB,Albania,Europe,Southern Europe,2018,2911000.0,350000,19000,21750.0,6248,1.537951e+10,120.233597,6.526967,7.471659,2.146341,5.283239e+06
1,DZA,Algeria,Africa,Northern Africa,2018,41064000.0,877000,363000,637720.0,9855,1.945540e+11,21.356906,8.839860,15.529905,0.239991,4.737824e+06
2,ATG,Antigua and Barbuda,Americas,Latin America and the Caribbean,2018,94000.0,5000,800,438.0,534,1.661530e+09,53.191489,8.510638,4.659574,5.680851,1.767585e+07
3,ARG,Argentina,Americas,Latin America and the Caribbean,2018,44272000.0,3256000,391000,679770.0,119890,5.248200e+11,73.545356,8.831767,15.354400,2.708032,1.185445e+07
4,ARM,Armenia,Asia,Western Asia,2018,3032000.0,186000,18000,509240.0,1237,1.245794e+10,61.345646,5.936675,167.955145,0.407982,4.108819e+06
5,AUS,Australia,Oceania,Australia and New Zealand,2018,24642000.0,3573000,69000,214520.0,10072,1.427810e+12,144.996348,2.800097,8.705462,0.408733,5.794213e+07
6,AUT,Austria,Europe,Western Europe,2018,8592000.0,2577000,37900,240880.0,4714,4.525820e+11,299.930168,4.411080,28.035382,0.548650,5.267481e+07
7,AZE,Azerbaijan,Asia,Western Asia,2018,9974000.0,362000,18000,537920.0,9276,4.711247e+10,36.294365,1.804692,53.932224,0.930018,4.723528e+06
8,BHS,Bahamas,Americas,Latin America and the Caribbean,2018,397000.0,74000,5000,2470.0,6298,1.261580e+10,186.397985,12.594458,6.221662,15.863980,3.177783e+07
9,BHR,Bahrain,Asia,Western Asia,2018,1419000.0,181000,20000,25796.0,22,3.956798e+10,127.554616,14.094433,18.178999,0.015504,2.788441e+07

In [111]:
category_mapping = {
    "Sexual assault": "Sexual Crimes",
    "Sexual Exploitation": "Sexual Crimes",
    "Sexual violence": "Sexual Crimes",
    "Sexual violence: Other acts of sexual violence": "Sexual Crimes",
    "Sexual violence: Rape": "Sexual Crimes",
    "Sexual violence: Sexual assault": "Sexual Crimes",
    "Acts intended to induce fear or emotional distress": "Violent Crimes",
    "Acts intended to induce fear or emotional distress:": "Violent Crimes",
    "Intimate partner or family member": "Violent Crimes",
    "Kidnapping": "Violent Crimes",
    "Other Perpetrator known to the victim": "Violent Crimes",
    "Perpetrator unknown to the victim": "Violent Crimes",
    "Relationship to perpetrator is not known": "Violent Crimes",
    "Serious assault": "Violent Crimes",
}

sexual_violent_df['Main Category'] = sexual_violent_df['Category'].map(category_mapping)

result = sexual_violent_df.groupby(['ISO', 'Year', 'Main Category'])['VALUE'].sum().reset_index()
result = result.pivot(index=['ISO', 'Year'], columns='Main Category', values='VALUE').reset_index()

result.columns.name = None 
result = result.rename(columns={'Violent Crimes': 'Total Violent Crimes', 'Sexual Crimes': 'Total Sexual Crimes'})

result = result[result['Year'] == 2018]

result.head(20)

     ISO  Year  Total Sexual Crimes  Total Violent Crimes
13   ALB  2018           324.914097            970.432988
29   AND  2018           121.320856            825.915055
41   ARE  2018           485.251543            289.129045
54   ARG  2018         32667.387437         136472.586298
74   ARM  2018           173.922673            242.249438
79   ATG  2018           250.967907            205.015009
93   AUS  2018         27917.316482          82241.612259
112  AUT  2018         10323.468412          14199.643624
131  AZE  2018           350.417870            777.894691
157  BEL  2018         20613.493503          88435.770755
179  BGR  2018          1166.157515           2617.263084
202  BHS  2018           841.700697           7072.473155
220  BIH  2018           317.058480            936.763690
240  BLR  2018          2352.010956            738.539523
253  BLZ  2018           341.930153              1.261735
282  BOL  2018          4917.000861          20507.299900
299  BRA  2018         49598.588430         575546.722380
316  BRB  2018           442.558242            791.446182
335  BTN  2018           106.334396           1242.076242
343  BWA  2018          2148.196476                   NaN

In [112]:
mapping1 = result.set_index("ISO")["Total Sexual Crimes"]
df["Total Sexual Crimes"] = df["ISO"].map(mapping1)

mapping2 = result.set_index("ISO")["Total Violent Crimes"]
df["Total Violent Crimes"] = df["ISO"].map(mapping2)

df['Total Sexual Crimes'] = df['Total Sexual Crimes'].fillna(0).apply(round)
df['Total Violent Crimes'] = df['Total Violent Crimes'].fillna(0).apply(round)

columns_to_convert = [
    "Total Sexual Crimes",
    "Total Violent Crimes"
]

for column in columns_to_convert:
    df[f"{column} per 1,000"] = (df[column] / df["Population"]) * 1000

new_order = [
    "ISO",
    "Country",
    "Continent",
    "Subregion",
    "Year",
    "Population",
    "Estimate of firearms in civilian possession",
    "Total law enforcement firearms",
    "Total military firearms",
    "Estimate of firearms in civilian possession per 1,000",
    "Total law enforcement firearms per 1,000",
    "Total military firearms per 1,000",
    "Total Homicides",
    "Total Sexual Crimes",
    "Total Violent Crimes",
    "Total Homicides per 1,000",
    "Total Sexual Crimes per 1,000",
    "Total Violent Crimes per 1,000",
    "Country GDP",
    "Country GDP per 1,000"
]

df = df[new_order]

df.head(10)

,ISO,Country,Continent,Subregion,Year,Population,Estimate of firearms in civilian possession,Total law enforcement firearms,Total military firearms,"Estimate of firearms in civilian possession per 1,000","Total law enforcement firearms per 1,000","Total military firearms per 1,000",Total Homicides,Total Sexual Crimes,Total Violent Crimes,"Total Homicides per 1,000","Total Sexual Crimes per 1,000","Total Violent Crimes per 1,000",Country GDP,"Country GDP per 1,000"
0,ALB,Albania,Europe,Southern Europe,2018,2911000.0,350000,19000,21750.0,120.233597,6.526967,7.471659,6248,325,970,2.146341,0.111645,0.333219,1.537951e+10,5.283239e+06
1,DZA,Algeria,Africa,Northern Africa,2018,41064000.0,877000,363000,637720.0,21.356906,8.839860,15.529905,9855,3193,16803,0.239991,0.077757,0.409191,1.945540e+11,4.737824e+06
2,ATG,Antigua and Barbuda,Americas,Latin America and the Caribbean,2018,94000.0,5000,800,438.0,53.191489,8.510638,4.659574,534,251,205,5.680851,2.670213,2.180851,1.661530e+09,1.767585e+07
3,ARG,Argentina,Americas,Latin America and the Caribbean,2018,44272000.0,3256000,391000,679770.0,73.545356,8.831767,15.354400,119890,32667,136473,2.708032,0.737870,3.082603,5.248200e+11,1.185445e+07
4,ARM,Armenia,Asia,Western Asia,2018,3032000.0,186000,18000,509240.0,61.345646,5.936675,167.955145,1237,174,242,0.407982,0.057388,0.079815,1.245794e+10,4.108819e+06
5,AUS,Australia,Oceania,Australia and New Zealand,2018,24642000.0,3573000,69000,214520.0,144.996348,2.800097,8.705462,10072,27917,82242,0.408733,1.132903,3.337473,1.427810e+12,5.794213e+07
6,AUT,Austria,Europe,Western Europe,2018,8592000.0,2577000,37900,240880.0,299.930168,4.411080,28.035382,4714,10323,14200,0.548650,1.201466,1.652700,4.525820e+11,5.267481e+07
7,AZE,Azerbaijan,Asia,Western Asia,2018,9974000.0,362000,18000,537920.0,36.294365,1.804692,53.932224,9276,350,778,0.930018,0.035091,0.078003,4.711247e+10,4.723528e+06
8,BHS,Bahamas,Americas,Latin America and the Caribbean,2018,397000.0,74000,5000,2470.0,186.397985,12.594458,6.221662,6298,842,7072,15.863980,2.120907,17.813602,1.261580e+10,3.177783e+07
9,BHR,Bahrain,Asia,Western Asia,2018,1419000.0,181000,20000,25796.0,127.554616,14.094433,18.178999,22,0,0,0.015504,0.000000,0.000000,3.956798e+10,2.788441e+07

In [121]:
df.to_csv("everything_merged_dataset_with_NULL_violent&sexual.csv", index=False)

Some countries have no information (0) for the sexual and violent crime columns. The csv file saved above contains such counties. In the following cells, I identify countries missing entries in either one of those columns and create a new csv file where those counties are no longer present.

In [118]:
countries_to_remove = df[(df['Total Sexual Crimes'] == 0) | (df['Total Violent Crimes'] == 0)]
countries_to_remove[['ISO', 'Country']]

    ISO                      Country
9   BHR                      Bahrain
10  BGD                   Bangladesh
23  CHN                        China
38  IND                        India
43  JPN                        Japan
46  MYS                     Malaysia
48  MRT                   Mauritania
49  MUS                    Mauritius
56  NPL                        Nepal
68  QAT                        Qatar
73  RWA                       Rwanda
76  SYC                   Seychelles
80  ZAF                 South Africa
84  TUR                      Türkiye
85  UGA                       Uganda
87  TZA  United Republic of Tanzania
92  ZWE                     Zimbabwe

In [117]:
df_no_0 = df[~((df['Total Sexual Crimes'] == 0) | (df['Total Violent Crimes'] == 0))]

df_no_0.to_csv("everything_merged_dataset_no_NULL_violent&sexual.csv", index=False)

### In the most stripped down version of the dataset, where there should be no NULL values in any of the columns, we have 76 countries in total.

In [119]:
df_no_0.shape[0]

76

### If we consider countries which might not have info about the sexual and/or violent crimes, we have 93 countries to work with.

In [120]:
df.shape[0]

93