In [124]:
import numpy as np
import pandas as pd

In [125]:
df = pd.read_excel("../crime/data_cts_intentional_homicide.xlsx")
df.head()

,UNODC,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,24/11/2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Iso3_code,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Unit of measurement,VALUE,Source
2,ARM,Armenia,Asia,Western Asia,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,35,CTS
3,CHE,Switzerland,Europe,Western Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,28,CTS
4,COL,Colombia,Americas,Latin America and the Caribbean,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,15053,CTS

## Cleaning
In the table displayed above we see that the column names are all unnamed and that row 1 would be great for columns instead. So in the code below we create a new dataframe with row 1 of the old df as columns and copy everyting from row 2 of the old dataframe to be the rows in the new dataframe, resulting in a much nicer and easier to read table

In [126]:
new_columns = df.iloc[1]  
cleaned_df = df.iloc[2:].copy()  
cleaned_df.columns = new_columns 
cleaned_df.reset_index(drop=True, inplace=True)
cleaned_df.rename(columns={'Iso3_code': 'ISO'}, inplace=True) # same name as in weapon dataset
cleaned_df.head()

1,ISO,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Unit of measurement,VALUE,Source
0,ARM,Armenia,Asia,Western Asia,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,35,CTS
1,CHE,Switzerland,Europe,Western Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,28,CTS
2,COL,Colombia,Americas,Latin America and the Caribbean,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,15053,CTS
3,CZE,Czechia,Europe,Eastern Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,69,CTS
4,DEU,Germany,Europe,Western Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,455,CTS

Next we need to filter based on year since the weapon data is only from 2018, so we do that in the cell below

In [127]:
df_2018 = cleaned_df[cleaned_df['Year'] == "2018"].copy() # note that year is in string format 
df_2018.reset_index(drop=True, inplace=True)
df_2018.head()

1,ISO,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Unit of measurement,VALUE,Source
0,ALB,Albania,Europe,Southern Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2018,Counts,57,CTS
1,ARM,Armenia,Asia,Western Asia,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2018,Counts,40,CTS
2,ATG,Antigua and Barbuda,Americas,Latin America and the Caribbean,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2018,Counts,7,CTS
3,AUT,Austria,Europe,Western Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2018,Counts,44,CTS
4,AZE,Azerbaijan,Asia,Western Asia,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2018,Counts,189,CTS

## Merging  
Now we are gonna take a closer look at the countries in the dataset, we want them to be overlapping with the weapon dataset (merged_dataset.csv), so that is what we are going to try here

In [128]:
country_list = cleaned_df['Country'].unique().tolist()
print(f"Number of unique countries: {len(country_list)}")
print("List of countries:")
print(country_list)

Number of unique countries: 215
List of countries:
['Armenia', 'Switzerland', 'Colombia', 'Czechia', 'Germany', 'Finland', 'Guatemala', 'Honduras', 'Hungary', 'Iceland', 'Italy', 'Japan', 'Sri Lanka', 'Lithuania', 'Mongolia', 'Norway', 'Serbia', 'Slovakia', 'Slovenia', 'Türkiye', 'Antigua and Barbuda', 'Austria', 'Belgium', 'Belize', 'Bolivia (Plurinational State of)', 'Bhutan', 'Denmark', 'France', 'Greece', 'China, Macao Special Administrative Region', 'Russian Federation', 'Uzbekistan', 'Albania', 'Azerbaijan', 'Barbados', 'Chile', 'Spain', 'Grenada', 'Guyana', 'Croatia', 'Liechtenstein', 'Latvia', 'Montenegro', 'Panama', 'Dominica', 'Jordan', 'Saint Kitts and Nevis', 'Saint Lucia', 'Mexico', 'Malta', 'Oman', 'Trinidad and Tobago', 'Bulgaria', 'Bahamas', 'Canada', 'Costa Rica', 'Dominican Republic', 'El Salvador', 'Uruguay', 'Bosnia and Herzegovina', 'Saint Vincent and the Grenadines', 'Ecuador', 'Holy See', 'Indonesia', 'Morocco', 'Mauritius', 'Aruba', 'Anguilla', 'Australia', 'Belarus', 'Bermuda', 'Brazil', 'Cayman Islands', 'Cyprus', 'Egypt', 'Estonia', 'Fiji', 'United Kingdom (England and Wales)', 'United Kingdom (Northern Ireland)', 'United Kingdom (Scotland)', 'Georgia', 'China, Hong Kong Special Administrative Region', 'India', 'Ireland', 'Iraq', 'Israel', 'Jamaica', 'Kazakhstan', 'Republic of Korea', 'Lesotho', 'Republic of Moldova', 'Maldives', 'Myanmar', 'Montserrat', 'Malaysia', 'Nicaragua', 'Netherlands (Kingdom of the)', 'Nepal', 'New Zealand', 'Pakistan', 'Philippines', 'Poland', 'Puerto Rico', 'Portugal', 'Qatar', 'Romania', 'Singapore', 'Sao Tome and Principe', 'Sweden', 'Eswatini', 'Turks and Caicos Islands', 'Thailand', 'Tajikistan', 'Turkmenistan', 'Ukraine', 'United States of America', 'Venezuela (Bolivarian Republic of)', 'British Virgin Islands', 'Zambia', 'Zimbabwe', 'Kiribati', 'Marshall Islands', 'Cuba', 'Greenland', 'Cambodia', 'Luxembourg', 'Saint Helena', 'South Africa', 'Bahrain', 'China', 'Namibia', 'State of Palestine', 'San Marino', 'Tonga', 'United Republic of Tanzania', 'Uganda', 'Brunei Darussalam', 'Kuwait', 'Syrian Arab Republic', 'United States Virgin Islands', 'North Macedonia', 'Papua New Guinea', 'Yemen', 'Saudi Arabia', 'Bangladesh', 'Cameroon', 'Guam', 'Malawi', 'Paraguay', 'Suriname', 'Argentina', 'American Samoa', 'Botswana', 'Curaçao', 'Ghana', 'Monaco', 'Mozambique', 'Viet Nam', 'Tuvalu', 'Cabo Verde', 'Andorra', 'Guadeloupe', 'French Guiana', 'Kenya', 'Martinique', 'Réunion', 'Solomon Islands', 'Sierra Leone', 'Seychelles', 'Timor-Leste', 'Tunisia', nan, 'Algeria', 'New Caledonia', 'French Polynesia', 'Rwanda', 'Saint Pierre and Miquelon', 'Haiti', 'Liberia', 'Mayotte', 'Iraq (Central Iraq)', 'Iraq (Kurdistan Region)', 'Lebanon', 'Kosovo under UNSCR 1244', 'Afghanistan', 'Gibraltar', 'Iran (Islamic Republic of)', 'Samoa', 'United Arab Emirates', 'Angola', 'Isle of Man', 'Saint Martin (French Part)', 'Niger', 'Peru', 'Burundi', 'Cook Islands', 'Eritrea', 'Ethiopia', 'South Sudan', 'Palau', 'Guinea-Bissau', 'Nigeria', 'Mauritania', 'Micronesia (Federated States of)', 'Vanuatu', 'Madagascar', 'Faroe Islands', 'Kyrgyzstan', 'Djibouti', 'All Africa', 'All Americas', 'All Asia', 'All Europe', 'All Oceania', 'World']

In [129]:
df_weapons = pd.read_csv("../new data/merged_dataset.csv")
df_weapons.head()

,ISO,Country,Continent,Subregion,Population,Estimate of firearms in civilian possession,Registered firearms,Unregistered firearms,Total law enforcement firearms,Total military firearms
0,ABW,Aruba,Americas,Caribbean,105000.0,3000,NaN,NaN,700,NaN
1,AFG,Afghanistan,Asia,Southern Asia,34169000.0,4270000,NaN,NaN,239000,NaN
2,AGO,Angola,Africa,Middle Africa,26656000.0,2982000,NaN,NaN,60000,203300.0
3,ALB,Albania,Europe,Southern Europe,2911000.0,350000,65747.0,284253.0,19000,21750.0
4,AND,Andorra,Europe,Southern Europe,69000.0,10000,7599.0,2401.0,976,NaN

Here we merge the two dataframes together, also getting rid of some unnecessary duplicate columns. 
Important to note is that the weapon data now appears in multiple rows

In [130]:
merged_df = pd.merge(df_2018, df_weapons, on='ISO', how='inner')
merged_df_cleaned = merged_df.copy()
merged_df_cleaned['Country'] = merged_df_cleaned['Country_x']  
merged_df_cleaned['Subregion'] = merged_df_cleaned['Subregion_x']  
merged_df_cleaned.drop(['Country_x', 'Country_y', 'Subregion_x', 'Subregion_y'], axis=1, inplace=True)
merged_df_cleaned.head()

,ISO,Region,Indicator,Dimension,Category,Sex,Age,Year,Unit of measurement,VALUE,Source,Continent,Population,Estimate of firearms in civilian possession,Registered firearms,Unregistered firearms,Total law enforcement firearms,Total military firearms,Country,Subregion
0,ALB,Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2018,Counts,57,CTS,Europe,2911000.0,350000,65747.0,284253.0,19000,21750.0,Albania,Southern Europe
1,ALB,Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Female,Total,2018,Counts,2,CTS,Europe,2911000.0,350000,65747.0,284253.0,19000,21750.0,Albania,Southern Europe
2,ALB,Europe,Persons arrested/suspected for intentional hom...,by citizenship,Foreign citizens,Male,Total,2018,Counts,1,CTS,Europe,2911000.0,350000,65747.0,284253.0,19000,21750.0,Albania,Southern Europe
3,ALB,Europe,Persons arrested/suspected for intentional hom...,by citizenship,Foreign citizens,Female,Total,2018,Counts,0,CTS,Europe,2911000.0,350000,65747.0,284253.0,19000,21750.0,Albania,Southern Europe
4,ALB,Europe,Victims of intentional homicide,Total,Total,Total,Total,2018,Counts,66,MD/CTS/GSH 2023 Revision/NSO,Europe,2911000.0,350000,65747.0,284253.0,19000,21750.0,Albania,Southern Europe

Let's look at the countries again...
Now there are 135 left

In [131]:
country_list = merged_df_cleaned['Country'].unique().tolist()
print(f"Number of unique countries: {len(country_list)}")
print("List of countries:")
print(country_list)

Number of unique countries: 135
List of countries:
['Albania', 'Armenia', 'Antigua and Barbuda', 'Austria', 'Azerbaijan', 'Belgium', 'Bulgaria', 'Bahamas', 'Bolivia (Plurinational State of)', 'Barbados', 'Switzerland', 'Chile', 'Colombia', 'Czechia', 'Germany', 'Dominica', 'Denmark', 'Spain', 'Finland', 'France', 'Greece', 'Guyana', 'Croatia', 'Hungary', 'Iceland', 'Italy', 'Jordan', 'Saint Kitts and Nevis', 'Saint Lucia', 'Sri Lanka', 'Lithuania', 'Latvia', 'Mexico', 'Malta', 'Mongolia', 'Norway', 'Oman', 'Russian Federation', 'Serbia', 'Slovakia', 'Slovenia', 'Trinidad and Tobago', 'Türkiye', 'Uzbekistan', 'Afghanistan', 'Argentina', 'American Samoa', 'Australia', 'Bangladesh', 'Bahrain', 'Bosnia and Herzegovina', 'Belarus', 'Belize', 'Bermuda', 'Brazil', 'Bhutan', 'Canada', 'China', 'Cabo Verde', 'Costa Rica', 'Cuba', 'Cayman Islands', 'Cyprus', 'Dominican Republic', 'Algeria', 'Ecuador', 'Estonia', 'Georgia', 'Ghana', 'Grenada', 'Guatemala', 'French Guiana', 'China, Hong Kong Special Administrative Region', 'Honduras', 'Haiti', 'India', 'Ireland', 'Israel', 'Jamaica', 'Japan', 'Kenya', 'Republic of Korea', 'Kuwait', 'Lebanon', 'Liechtenstein', 'Luxembourg', 'China, Macao Special Administrative Region', 'Morocco', 'Republic of Moldova', 'North Macedonia', 'Myanmar', 'Montenegro', 'Mauritania', 'Montserrat', 'Mauritius', 'Malaysia', 'Namibia', 'Nicaragua', 'Netherlands (Kingdom of the)', 'Nepal', 'New Zealand', 'Pakistan', 'Panama', 'Peru', 'Philippines', 'Palau', 'Poland', 'Puerto Rico', 'Portugal', 'Paraguay', 'State of Palestine', 'Qatar', 'Romania', 'Rwanda', 'Saudi Arabia', 'Singapore', 'El Salvador', 'Suriname', 'Sweden', 'Seychelles', 'Tonga', 'United Republic of Tanzania', 'Uganda', 'Ukraine', 'Uruguay', 'United States of America', 'Saint Vincent and the Grenadines', 'Samoa', 'South Africa', 'Zimbabwe', 'Venezuela (Bolivarian Republic of)', 'Andorra', 'Kyrgyzstan', 'Thailand', 'Djibouti']

Now we are going to sum of the homicides per country  
Note: sometimes the unit of meausurement is simply a count but sometimes it is a "Rate per 100k people"  
So the first step is to use the Population of a country to turn a rate into a count, and if it is alreadya  count we just copy that   value into the new column named "rate_to_count"  
This new column can then be used to calculate the total amount of homicides per country

In [132]:
# Create the rate_to_count column
merged_df_cleaned['rate_to_count'] = merged_df_cleaned.apply(
    lambda row: row['VALUE'] * (row['Population'] / 100000) 
    if row['Unit of measurement'] == 'Rate per 100,000 population' else row['VALUE'], 
    axis=1
)

# Drop some useless columns for better readability
merged_df_cleaned.drop(['Unit of measurement', 'Registered firearms', 'Unregistered firearms', 'VALUE', 'Sex', 'Age', 'Source', 'Dimension', 'Indicator', 'Category', 'Region'], axis=1, inplace=True)

merged_df_cleaned.head()

,ISO,Year,Continent,Population,Estimate of firearms in civilian possession,Total law enforcement firearms,Total military firearms,Country,Subregion,rate_to_count
0,ALB,2018,Europe,2911000.0,350000,19000,21750.0,Albania,Southern Europe,57.0
1,ALB,2018,Europe,2911000.0,350000,19000,21750.0,Albania,Southern Europe,2.0
2,ALB,2018,Europe,2911000.0,350000,19000,21750.0,Albania,Southern Europe,1.0
3,ALB,2018,Europe,2911000.0,350000,19000,21750.0,Albania,Southern Europe,0.0
4,ALB,2018,Europe,2911000.0,350000,19000,21750.0,Albania,Southern Europe,66.0

Note that it does not matter if we use 'first' because the weapons data on the rows is the same per country  
Same holds for year; it is all 2018 and also for continent, population and subregion

In [133]:
# Group by Country and aggregate data
merged_df_summarized = merged_df_cleaned.groupby('Country', as_index=False).agg({
    'ISO': 'first',  
    'Year': 'first',   
    'Continent': 'first',  
    'Population': 'first',  
    'Estimate of firearms in civilian possession': 'first',   
    'Total law enforcement firearms': 'first',  
    'Total military firearms': 'first',  
    'Subregion': 'first',  
    'rate_to_count': 'sum'  # Sum rate_to_count to get Total Homicides
})

merged_df_summarized.rename(columns={'rate_to_count': 'Total Homicides'}, inplace=True)
merged_df_summarized['Total Homicides'] = merged_df_summarized['Total Homicides'].round(0).astype(int)
merged_df_summarized.to_csv("merged_homicide_weapon_with_NULL.csv", index=False)
merged_df_summarized.head()

,Country,ISO,Year,Continent,Population,Estimate of firearms in civilian possession,Total law enforcement firearms,Total military firearms,Subregion,Total Homicides
0,Afghanistan,AFG,2018,Asia,34169000.0,4270000,239000,NaN,Southern Asia,5526
1,Albania,ALB,2018,Europe,2911000.0,350000,19000,21750.0,Southern Europe,6248
2,Algeria,DZA,2018,Africa,41064000.0,877000,363000,637720.0,Northern Africa,9855
3,American Samoa,ASM,2018,Oceania,56000.0,400,90,NaN,Polynesia,69
4,Andorra,AND,2018,Europe,69000.0,10000,976,NaN,Southern Europe,4

## Dealing with NULL values
So here we are creating a new dataset without NULL values in any of the following four columns:
- Estimate of firearms in civilian possession	
- Total law enforcement firearms	
- Total military firearms
- Total Homicides

In [134]:
columns_to_check = [
    'Estimate of firearms in civilian possession',
    'Total law enforcement firearms',
    'Total military firearms',
    'Total Homicides'
]

filtered_df = merged_df_summarized.dropna(subset=columns_to_check)
filtered_df.to_csv("merged_homicide_weapon_no_NULL.csv", index=False)
filtered_df.head()

,Country,ISO,Year,Continent,Population,Estimate of firearms in civilian possession,Total law enforcement firearms,Total military firearms,Subregion,Total Homicides
1,Albania,ALB,2018,Europe,2911000.0,350000,19000,21750.0,Southern Europe,6248
2,Algeria,DZA,2018,Africa,41064000.0,877000,363000,637720.0,Northern Africa,9855
5,Antigua and Barbuda,ATG,2018,Americas,94000.0,5000,800,438.0,Latin America and the Caribbean,534
6,Argentina,ARG,2018,Americas,44272000.0,3256000,391000,679770.0,Latin America and the Caribbean,119890
7,Armenia,ARM,2018,Asia,3032000.0,186000,18000,509240.0,Western Asia,1237

So 93 countries have all the data!

In [135]:
country_list = filtered_df['Country'].unique().tolist()
print(f"Number of unique countries: {len(country_list)}")
print("List of countries:")
print(country_list)

Number of unique countries: 93
List of countries:
['Albania', 'Algeria', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Bhutan', 'Bolivia (Plurinational State of)', 'Bosnia and Herzegovina', 'Brazil', 'Bulgaria', 'Cabo Verde', 'Canada', 'Chile', 'China', 'El Salvador', 'Estonia', 'Finland', 'France', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Guatemala', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kenya', 'Malaysia', 'Malta', 'Mauritania', 'Mauritius', 'Mexico', 'Mongolia', 'Montenegro', 'Morocco', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands (Kingdom of the)', 'New Zealand', 'Nicaragua', 'Norway', 'Oman', 'Pakistan', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Republic of Korea', 'Republic of Moldova', 'Romania', 'Russian Federation', 'Rwanda', 'Saudi Arabia', 'Serbia', 'Seychelles', 'Singapore', 'Slovakia', 'Slovenia', 'South Africa', 'Spain', 'Sri Lanka', 'State of Palestine', 'Türkiye', 'Uganda', 'Ukraine', 'United Republic of Tanzania', 'United States of America', 'Uruguay', 'Uzbekistan', 'Venezuela (Bolivarian Republic of)', 'Zimbabwe']