In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset = pd.read_excel("data/SAS-BP-Military-owned-firearms-annexe.xlsx")

In [8]:
dataset.columns = dataset.iloc[0]

In [14]:
dataset.head(10)

,Country,Country,Region,Subregion,Population,NaN,Category,Total military,Firearms in sub-,Computation method
1,code,NaN,NaN,NaN,2017,NaN,NaN,firearms,categories,1-reported firearm counts 2-estimated based on...
2,AFG Afghanistan ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ALB,Albania,Europe,Southern Europe,2911000,NaN,country total\nall active military,21750,20800,2
4,NaN,NaN,NaN,NaN,NaN,NaN,paramilitary forces,NaN,950,NaN
5,DZA,Algeria,Africa,Northern Africa,41064000,NaN,country total\nall active military,637720,338000,2
6,NaN,NaN,NaN,NaN,NaN,NaN,reserve forces,NaN,180000,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,National Security Forces,NaN,41600,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,Republican Guard,NaN,3120,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,Legitimate Defence Groups,NaN,75000,NaN
10,AGO,Angola,Africa,Middle Africa,26656000,NaN,all active military,203300,NaN,2

In [18]:
dataset.columns = ["Country Code", "Country", "Region", "Subregion", "Population", "Category", "Undefined", "Total military firearms", "Firearms in subcategories", "Computation method"]
dataset.head(10)

,Country Code,Country,Region,Subregion,Population,Category,Undefined,Total military firearms,Firearms in subcategories,Computation method
1,code,NaN,NaN,NaN,2017,NaN,NaN,firearms,categories,1-reported firearm counts 2-estimated based on...
2,AFG Afghanistan ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ALB,Albania,Europe,Southern Europe,2911000,NaN,country total\nall active military,21750,20800,2
4,NaN,NaN,NaN,NaN,NaN,NaN,paramilitary forces,NaN,950,NaN
5,DZA,Algeria,Africa,Northern Africa,41064000,NaN,country total\nall active military,637720,338000,2
6,NaN,NaN,NaN,NaN,NaN,NaN,reserve forces,NaN,180000,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,National Security Forces,NaN,41600,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,Republican Guard,NaN,3120,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,Legitimate Defence Groups,NaN,75000,NaN
10,AGO,Angola,Africa,Middle Africa,26656000,NaN,all active military,203300,NaN,2

In [27]:
dataset.dropna?

Signature:
dataset.dropna(
    *,
    axis: 'Axis' = 0,
    how: 'AnyAll | lib.NoDefault' = <no_default>,
    thresh: 'int | lib.NoDefault' = <no_default>,
    subset: 'IndexLabel | None' = None,
    inplace: 'bool' = False,
    ignore_index: 'bool' = False,
) -> 'DataFrame | None'
Docstring:
Remove missing values.

See the :ref:`User Guide <missing_data>` for more on which values are
considered missing, and how to work with missing data.

Parameters
----------
axis : {0 or 'index', 1 or 'columns'}, default 0
    Determine if rows or columns which contain missing values are
    removed.

    * 0, or 'index' : Drop rows which contain missing values.
    * 1, or 'columns' : Drop columns which contain missing value.

    Only a single axis is allowed.

how : {'any', 'all'}, default 'any'
    Determine if row or column is removed from DataFrame, when we have
    at least one NA or all NA.

    * 'any' : If any NA values are present, drop that row or column.
    * 'all' : If all values are NA, drop that row or column.

thresh : int, optional
    Require that many non-NA values. Cannot be combined with how.
subset : column label or sequence of labels, optional
    Labels along other axis to consider, e.g. if you are dropping rows
    these would be a list of columns to include.
inplace : bool, default False
    Whether to modify the DataFrame rather than creating a new one.
ignore_index : bool, default ``False``
    If ``True``, the resulting axis will be labeled 0, 1, …, n - 1.

    .. versionadded:: 2.0.0

Returns
-------
DataFrame or None
    DataFrame with NA entries dropped from it or None if ``inplace=True``.

See Also
--------
DataFrame.isna: Indicate missing values.
DataFrame.notna : Indicate existing (non-missing) values.
DataFrame.fillna : Replace missing values.
Series.dropna : Drop missing values.
Index.dropna : Drop missing indices.

Examples
--------
>>> df = pd.DataFrame({"name": ['Alfred', 'Batman', 'Catwoman'],
...                    "toy": [np.nan, 'Batmobile', 'Bullwhip'],
...                    "born": [pd.NaT, pd.Timestamp("1940-04-25"),
...                             pd.NaT]})
>>> df
       name        toy       born
0    Alfred        NaN        NaT
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

Drop the rows where at least one element is missing.

>>> df.dropna()
     name        toy       born
1  Batman  Batmobile 1940-04-25

Drop the columns where at least one element is missing.

>>> df.dropna(axis='columns')
       name
0    Alfred
1    Batman
2  Catwoman

Drop the rows where all elements are missing.

>>> df.dropna(how='all')
       name        toy       born
0    Alfred        NaN        NaT
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

Keep only the rows with at least 2 non-NA values.

>>> df.dropna(thresh=2)
       name        toy       born
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

Define in which columns to look for missing values.

>>> df.dropna(subset=['name', 'toy'])
       name        toy       born
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT
File:      ~/Downloads/yes/envs/cuda_confirmed/lib/python3.12/site-packages/pandas/core/frame.py
Type:      method

In [52]:
dataset = dataset.dropna(subset=["Country Code", "Country"], how="any")

True

In [ ]:
#dataset.to_csv("SAS-BP-Military-owned-firearms-annexe.csv")